@import "variables";

/* MOBILE STYLES */

body {
	background-color: $blue-green;
    color: $white;
    font-family: $sans;
    font-size: 1rem;
	font-weight: 200;
	line-height: 1.25rem;
}
h1 {
	font-size: 4rem;
	font-weight: 900;
	line-height: 4rem;
	color: $blue-green-dark;
}
h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
h3 {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 2rem;
}
a {
	color: $white;
	&:hover {
		color: $blue-dark;
	}
}
.grid-container {
	padding-left: 2rem;
}
#logo {
	padding: 2rem 0;
	p {
		font-family: $monospace;
		font-size: 2rem;
		letter-spacing: 3px;
	}
}
.code-inline {
	border: 1px solid $blue-green-dark;
	background-color: $blue-green;
	color: $blue-dark;
}
#hero {
	padding: 8rem 0;
}
.subtext {
	font-size: 0.75rem;
	font-weight: 400;
	color: $blue-green-dark;
}
#not-found {
	text-align: center;
	.grid-x {
		margin: auto;
	}
	h1 {
		font-size: 6rem;
		letter-spacing: 4px;
		line-height: 8rem;
	}
}


/* TABLET STYLES */

@media screen and (min-width: 640px) {

	h1 {
		font-size: 6rem;
		line-height: 6rem;
	}
	
}


/* DESKTOP STYLES */

@media screen and (min-width: 1200px) {
	
	.grid-container {
		padding-left: 0;
	}
	
}