// Colors
$blue-green: #3aafa9;
$blue-green-dark: #2b7a78;
$blue-dark: #17252a;
$white: #feffff;
$white-dark: #def2f1;

// Fonts
$sans: 'Poppins', sans-serif;
$monospace: 'Source Code Pro', monospace;